@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fs-1">O que é um CRUD?</h1>
    <p class="fs-5">O CRUD é parte fundamental da manipulação de dados em inúmeros sistemas ao redor do mundo. </p>
    <dl style="text-align: justify;">
        <dt class="fs-3">Create 📖</dt>
        <dd class="fs-5">Criação, registro ou cadastro de informações e dados em um banco de dados.</dd>
        <dt class="fs-3">Read 👁️</dt>
        <dd class="fs-5">É o ato de consultar os dados, quando você clica no botão de "Detalhes" em um
            cadastro na aba "Contatos", você está solicitando dados que serão lidos e exibidos na tela. </dd>
        <dt class="fs-3">Update 🖊️</dt>
        <dd class="fs-5">O conceito de update é aplicado quando você, que tem permissão para editar os dados,
            atualiza
            as informações que julgar necessárias.</dd>
        <dt class="fs-3">Delete ❌</dt>
        <dd class="fs-5">Trata-se de uma ação de exclusão de dados.</dd>
    </dl>
    <p class="fs-5">Essa aplicação foi construida utilizando as seguintes tecnologias:</p>
    <img src="~/Imagens/html.png" alt="html" class="reduced" />
    <img src="~/Imagens/css.png" alt="css" class="reduced" />
    <img src="~/Imagens/bootstrap.png" alt="bootstrap" class="reduced" />
    <img src="~/Imagens/javascript.png" alt="javascript" class="reduced" />
    <img src="~/Imagens/net.png" alt=".net" class="reduced" />
    <img src="~/Imagens/entityframework.png" alt="entity framework" class="reduced" />

</div>
