@{
    ViewData["Title"] = "Sobre a autora";
}
<h1>@ViewData["Title"]</h1>

<p class="fs-5">Minhas redes sociais:</p>
<a href="https://github.com/BrunaBravin">Github</a>
<a href="https://www.linkedin.com/in/brunabravin099/">Linkedin</a>
<a href="https://instagram.com/bruna_bravin_bueno?igshid=YWYwM2I1ZDdmOQ==">Instagram</a>
<a href="mailto:brunab.bueno@hotmail.com">E-mail</a>