html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

h1, p, dt, dl, a, form, h2, table {
  font-family: 'Roboto', sans-serif;
}

body {
  margin-bottom: 60px;
}

.reduced {
  height: 100px;
  width: 100px;
}

a {
  color: #c9874a;
}

a:hover {
  color: #803e00;
}
